#bookPage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#left {
    display: flex;
    flex-direction: column;

    padding: 30px;
    align-items: center;
    text-align: center;
}

#bookInfo {
	position: relative;
}

#imgDiv {
    height: 320px;
	width: 100%;
}

#bookPageImage {
    /* width: 100%; */
    height: 100%;
	/* object-fit: cover; */
}

.bookSection {
    border-bottom: 2px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSection:last-child {
	border: none;
}

.subheading {
    color: #c4c4c4;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.bookSection p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #ffffff;
}

.bookSection {
	margin-top: 12px;
}

#bookInfo > .bookSection {
	margin-top: 24px;
}

#hidden {
	display: none;
}

#moreLabel {
	position: absolute;
	top: 100%;
	right: 0;
}

#more {
	display: none;
}

#moreLabel:hover {
	border-bottom: 2px solid #fff;
}

#moreLabel:after {
	content: "Show more...";

	cursor: pointer;
	font-size: 18px;
	color: #fff;
}

#more:checked + #moreLabel::after {
	content: "Show less...";

	cursor: pointer;
	font-size: 18px;
	color: #fff;
}

#more:checked ~ #hidden {
	display: flex;
	flex-direction: column;

	height: 100%;
	margin-bottom: 24px;
}

#more:not(:checked) ~ .bookSection {
	border: none;
}

.info {
    color: #c4c4c4;
    font-size: 24px;
    font-weight: bold;
}

#bookRating {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}

.ratingStars {
    margin-bottom: 24px;
}

.ratingLower {
    font-size: 36px;
}

.ratingUpper {
    font-size: 36px;
}

#ratingsCount {
    color: #8e8e8e;
    font-size: 16px;
	margin-bottom: 12px;
}

#year {
    font-size: 50px;
    font-weight: 700;
}

#date {
    font-size: 24px;
}

/* RIGHT */

#right {
	margin-top: 24px;
    display: flex;
    flex-direction: column;

    padding: 0 30px;
}

#title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #c4c4c4;
}

#author {
    margin-top: 6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

#description {
    margin-top: 24px;

    font-weight: 400;
    font-size: 19px;
    line-height: 27px;

    color: #ffffff;
}

@media (min-width: 700px) {
    #bookInfo {
        max-height: none;
    }
    .bookSection {
        padding: 24px 0;
		border-bottom: 2px solid white;
    }

	#bookInfo > .bookSection {
		margin: 0;
		border-bottom: 2px solid white;
	}

	#moreLabel {
		display: none;
	}

	#hidden {
		display: flex;
		flex-direction: column;
	}

    #bookPage {
        flex-direction: row;
        align-items: flex-start;
    }
    #left {
        height: 100%;
        max-width: 240px;
        flex-shrink: 0;

        border-right: 2px solid black;
    }

    #right {
        padding: 30px;
    }
}
