html,
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 24rem;

    background: #1f1e30;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 40px;

    border: 4px solid #2c2b4c;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
}

@media (max-width: 800px) {
	#header {
		padding: 10px;
	}
    #navbar {
        display: none;
    }
}

#startBtn {
    background-color: #ff647c;
    border-radius: 5px;
    border: 0;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;

    font-weight: bold;
    color: white;
}

#section {
    max-width: 1680px;
    margin: 0 auto;
    /* max-height: 402px; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #2d2c45;
}

#sectionLeft {
    padding: 60px 100px;
    width: 50%;
    order: 1;
}

#sectionRight {
    order: 2;
    flex-shrink: 0;
}

#startupBooks {
    width: 100%;
}

@media (max-width: 1200px) {
    #sectionLeft {
        padding: 40px 60px;
    }
}

@media (max-width: 1000px) {
    #section {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    #sectionLeft {
        order: 2;
        width: 100%;
        padding: 20px;
    }
    #sectionRight {
        order: 1;
    }
}

#attract {
    font-size: 32px;
}

.link:hover {
    cursor: pointer;
}

#content {
    display: flex;
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
}

/* Hidden Bar */

#hiddenBar {
	display: none;
}

/* Books */

#books {
    margin: 0 auto;
    height: 100%;

    display: grid;
    gap: 4rem;

    padding: 32px;
	flex-shrink: 0;
	grid-template-columns: repeat(1, 1fr);
}
@media (max-width: 950px) {
	#books {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 650px) {
	#content {
		display: flex;
		flex-direction: column;
	}

	#leftBar {
		display: none;
	}

	#hiddenBar {
		display: flex;
		padding: 1rem;
		border: 4px solid #2c2b4c;
	}

	#books {
		grid-template-columns: repeat(2, 1fr);
	}
}



@media (min-width: 950px) {
    #books {
		padding: 48px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    #books {
		gap: 4rem;
		padding: 64px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    max-width: 240px;
    max-height: 380px;

    display: flex;
    flex-direction: column;
    padding: 10px;

    background: #2d2c45;
}

#bookImage {
    max-width: 130px;
    max-height: 196px;

    margin: 0 auto;
}

.tag {
    width: 55px;
    height: 20px;

    text-align: center;
    position: relative;
}

.tagRect {
    width: 65px;
    height: 23px;
}

.tagSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-weight: 600;
}

#bookInfo {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#bookInfoSection {
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bookTitle {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

#bookAuthor {
    color: #c4c4c4;
    font-weight: 400;
    font-size: 12px;
}

#ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ratingSpan {
    color: #8e8e8e;
    font-size: 10px;
    margin-right: 4px;
}

.ratingStars {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #888888;
    font-size: 25px;
    height: 25px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
}

.ratingLower {
    padding: 0;
    display: flex;
    font-size: 18px;
}

.ratingUpper {
    color: #ffc107;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 18px;
}

#rating {
    margin: 0 6px;
}

#ratingsCount {
    color: #8e8e8e;
    font-size: 8px;
}

#buttons {
    margin-top: 12px;

    display: flex;
    justify-content: space-between;
    gap: 8px;
}

#amazon {
    border: 0;
    border-radius: 5px;
    padding: 2px 14px;
    font-size: 13px;

    color: white;
    background: #6979f8;

    cursor: pointer;
}

#bookDetails {
    border: 0;
    border-radius: 5px;
    padding: 2px 14px;
    font-size: 13px;

    color: white;
    background: #9ba6fa;

    cursor: pointer;
}



/* Left bar */

#leftBar {
    height: 100vh;
    min-width: 223px;
    max-width: 332px;
    flex-grow: 1;

    padding: 40px 20px;
    border: 4px solid #2c2b4c;
}

#popular {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 64px;
}

.checkbox {
    width: 20px;
    height: 20px;
    accent-color: #7bbe72;
}

#leftTag {
    width: 100px;
    height: 27px;
    position: relative;
}

#leftTagRect {
    width: 140px;
    height: 30px;
}

#leftCrown {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 600;
}

#leftPopular {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 600;
}

.filterLabel {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.input {
    margin: 14px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    color: white;
    background-color: #1f1e30;
    border: 1px solid #aaadc6;
    border-radius: 7px;
}

.input:focus {
    outline: none;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 12px;
}

#topics {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
